a:link {color: #337ab7}
a:visited {color:#337ab7 }
a:hover {color: #337ab7}
a:active {color: #337ab7}

#header{
    width: 100%;
    height: 50px;
    background-color: #30394D;
}
.header-1{
    width: 100%;
    height: 110px;
}
.header-1 h1{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    font-size: 50px;
    font-family: 宋体;
}
.Zhuti{
    width: 100%;
    background-color: #30394D;
}
.zhuti{
    width: 500px;
    height: 1150px;
    background-color: #30394D;
}
#uyan_frame{
    width: 60%;
    margin-left: 20%;
}
#uyan_frame h4{
    color: White;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.active a:focus{
    display: block;
    background-color: Black;
}
.Btn{
    width: 10%;
    float: left;
}
.btn{
    float: left;
    margin-top: 68px;
    margin-left: 5px;
}
.copyright{
    text-align: center;
    background-color:#101010;
    padding: 1em 0;
}
.copyright p{
    color: White;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #101010;
}