body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.navbar-wrapper{
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index:20;
}
.carousel{
    position:relative;
    display:block;
    margin-top: 3.5em;
}
.carousel-caption p{
    position: relative;
    left: 15%;
}
.a0{
    background-color: #30394D;
    margin-right: 0px;
    margin-left: 0px;
}
.a1{
    padding: 1em 0;
    width: 100%;
    background-color: #000000;
    display: block;
}
.row{
    margin-top: 40px;
    margin-bottom: 25px;
    width: 100%;
    height:100%;
    color: #FFFFFF;
    display: block;
}
.a2{
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 2em 0;
}
.a2 p{
    margin: 0;
    padding-top: 10px;
}