/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'Maven Pro', sans-serif,'微软雅黑';
}
a:link {color: #337ab7}
a:visited {color: #337ab7}
a:hover {color: #337ab7}
a:active {color: #337ab7}

body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
.header {
	background:#30394D;	 
	border-bottom: 3px solid #BFBFBF;
}
.navbar-wrapper{
	font-size: 14px;
	margin-top: 20px;
	position: relative;
	top:0;
	right:0;
	left:0;
	z-index:20;
	font-family:  Helvetica;
}
.about-section-head{
	padding: 6em 0;
}	
.about-section-head h3{
	font-weight: 900;
	font-size:36px;
	color: #66635E;
	margin: 0.7em 0;
}	
.about-section-top-grid{
	background: #3399cc;
	padding: 4em 0;
}	
.about-section-head p{
	color: #66635E;
	font-size: 32px;
	font-weight: 400;
}
.about-section-middle-grid{
	background: #336699;
	padding: 4em 0;					  
}				
.about-section-bottom-grid{
	background: #30394D;
	padding: 4em 0;					  
}
.about-section-top-left-grid h4 {
	color: #FFFFFF;
	font-size: 42px;
	font-weight: 400;
}
.about-section-top-right-grid p{
	color:#FFFFFF;
	font-size:34px;
	font-weight:500;
}
.about-section-middle-left-grid h4 {
	color: #FFFFFF;
	font-size:42px;
	font-weight: 400;
}
.about-section-middle-right-grid p{
	color:#FFFFFF;
	font-size:26px;
	font-weight:500;
}
.about-section-bottom-left-grid h4 {
	color: #FFFFFF;
	font-size: 42px;
	font-weight: 400;
}
.about-section-bottom-right-grid p{
	color:#FFFFFF;
	font-size:34px;
	font-weight:500;
}
/***** Slider *****/
.banner-wrap {
	padding:6em 0;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
    width: 100%;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	bottom:20px;
	left: 15%;
	text-align: center;
	margin: auto;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin:0 15px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width:20px;
	height:20px;
	background:#FFFFFF;
	border-radius:50%;
}
.wmuSliderPagination a.wmuActive {
	background:#FF3D4E;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width:30px;
	height:50px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top:48%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position:0px -95px;
	left:0;
}
.wmuSliderNext {
	background-position:-28px -96px;
	right: 0px;
}
.bannertop_box{
	width:45%;
	float:left;
	padding:0 0 0 6.5em;
}
.bannertop_box h1 {
	color: #EDE8E0;
	font-size:8em;
	font-weight:900;
}
.bannertop_box h1 span{
	color: #EDE8E0;
	font-size:0.5em;
	font-weight:400;
	display:block;
}
.bannertop_box label{
	margin:0;
	color:#EDE8E0;
	font-size:23px;
	font-weight:400;
}
.bannertop_box p{
	color:#EDE8E0;
	font-size:23px;
	font-weight:400;
}
span.bold.block {
	display: block;
}
span.bold {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.3em;
}
.img{
	height: 800px;
}
.banner_right {
	float: right;
	width: 45%;
	padding-right: 6em;
}
.banner_right h1{
	color:#fff51f;
	font-size:4em;
	font-weight:bold;
	line-height: 0.9em;
}
.banner_right p{
	float:right;
	color:#fff51f;
	font-size:1.1em;
}
.banner_btn {
	display: inline-block;
	background: #fff51f;
	padding:16px 25px;
	color: #333;
	font-size: 0.85em;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	margin-top: 4em;
}
.banner_btn:hover{
	color:#FFFFFF;
	text-decoration:none;
}
.work-section-head h3{
	font-weight: 900;
	font-size: 36px;
	color: #66635E;
	margin: 1.2em 0;
}	
.work-section{
	padding:4em 0;			 
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 33.333%;
	display:none;
	float:left;
	overflow:hidden;
}	
.portfolio-wrapper{
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
	padding: 2em 1em;
}
.portfolio img {
	max-width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
	display: block;
}
a.lightbox img {
	width:100%;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */



.copyright{
	color:#FFFFFF;
	text-align:center;
	position: relative;
	bottom: -25px;
	font-size: 14px;
}
.footer{
	background:#000000;
	padding:3em 0;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top2.png") no-repeat 0px 0px;
}

/*----- responsive-design ------*/	
 @media screen and (max-width:1366px){
	.lightbox-target:target img{
		width: 50%;
	}
	.about-section-head{
		padding: 4em 0;
	}
	.work-section{
		padding: 2em 0;
	}
	}

 @media screen and (max-width:1024px){
	.logo{
		width: 11%;
	} 
	.bannertop_box{
		width: 47%;
		padding: 0 0 0 5em;
	}
	.banner_right{
		width: 47%;
		padding-right: 5em;
	}
	.bannertop_box h1{
		font-size: 7em;
	}
	.bannertop_box p{
		font-size: 20px;
	}
	span.bold{
		font-size: 1.2em;
	}
	.bannertop_box label{
		font-size: 20px;
	}
	.about-section-head{
		padding: 3em 0;
	}
	.about-section-head p {
		font-size: 27px;
	}
	.about-section-head h3{
		font-size: 35px;
		margin: 0.4em 0;
	}
	.about-section-top-left-grid h4 {
		font-size: 36px;
	}
	.about-section-top-right-grid p{
		font-size: 29px;
	}
	.about-section-top-right-grid,.about-section-top-left-grid,
	.about-section-middle-right-grid,.about-section-middle-left-grid,
	.about-section-top-bottom-grid,.about-section-bottom-left-grid {
		padding: 0;
	}
	.about-section-middle-left-grid h4 {
		font-size: 36px;
	}
	.about-section-middle-right-grid p {
		font-size: 23px;
	}
	.about-section-bottom-left-grid h4{
		font-size: 36px;
	}
	.about-section-bottom-right-grid p{
		font-size: 29px;
	}
	.work-section {
		padding: 1em 0;
	}
	.work-section-head h3{
		font-size: 35px;
		margin: 1em 0;
	}
	.client-section-grid img{
		padding: 3em 0;
	}
	.clients-section-head h3{
		font-size: 35px;
		margin: 1em 0;
	}
	.contact-section-head h3{
		font-size: 35px;
		margin: 1.2em 0;
	}
	.comments-area{
		width: 70%;
	}
	}
 @media screen and (max-width:800px){
	.top-menu ul li a {
		font-size: 14px;
		padding: 0.45em 0.9em;
	}
	.top-menu ul li {
		margin: 0 1.5em;
	}
	.logo{
		width: 15%;
	}
	.top-menu{
		width: 73%;
	}
	.bannertop_box{
		width: 45%;
		padding: 0 0 0 4em;
	}
	.banner_right{
		width: 45%;
		padding-right: 4em;
	}
	.bannertop_box h1{
		font-size: 4.8em;
	}
	.bannertop_box p{
		font-size: 15px;
	}
	.bannertop_box label{
		font-size: 15px;
	}
	span.bold{
		font-size: 1.1em;
	}
	.about-section-head p{
		font-size: 22px;
	}
	.about-section-head h3{
		font-size: 33px;
		margin: 0.3em 0;
	}
	.about-section-top-grid, .about-section-middle-grid,.about-section-bottom-grid{
		padding: 3em 0;
		text-align: center;
	}
	.about-section-top-left-grid h4 ,.about-section-middle-left-grid h4,.about-section-bottom-left-grid h4{
		padding: 0 0 0.5em 0;
	}
	  
	.footer {
		padding: 3em 0;
	}
	}
 @media screen and (max-width:768px){
 /*----- resposnive-menu -----*/   
	.logo img {
		width: 80px;
	}
	span.menu:before {
		content: url(../images/nav-icon.png);
		cursor: pointer;
	}
	.top-menu {
		width: 100%;
		text-align: right;
		padding-top: 1.65em;
	}
	.top-menu {
		float: none;
	}
	.top-menu  ul{
		display:none;
	}
	.top-menu  ul li {
		font-size: 16px;
		display:block;
		float:none;
	}
	.top-menu  span.menu{
		display:block;
	}
	.top-menu  ul{
		margin-top:1.3em;
		padding: 1em 0;
		z-index: 999;
		position: absolute;
		width: 96%;
		background:rgba(0, 230, 118, 0.77);
		text-align: center;
	}
	.top-menu ul li a {
		font-size: 16px;
		padding: 0.7em 0.9em;
	}
	}
 @media screen and (max-width:640px){ 
	.logo {
		width: 18%;
	}
	.logo img {
		width: 75px;
	}
	.bannertop_box h1 {
		font-size: 3em;
	}
	.bannertop_box label{
		font-size: 14px;
	}
	.bannertop_box {
		width: 48%;
		padding: 0 0 0 3em;
	}
	.banner_right{
		width: 48%;
		padding-right: 3em;
	}
	.bannertop_box p{
		font-size: 14px;
	}
	.about-section-head h3 {
		font-size: 28px;
		margin: 0.2em 0;
	}
	.about-section-head p {
		font-size: 18px;
	}
	.about-section-head{
		padding: 2em 0;
	}	
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4{
		font-size: 33px;
		padding: 0 0 0.4em 0;
	}
	.about-section-top-right-grid p{
		font-size: 23px;
	}	
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 2em 0;
		text-align: center;
	}	
	.about-section-middle-right-grid p{
		font-size: 19px;
	}
	.about-section-bottom-right-grid p {
		font-size: 23px;
	}
	.work-section-head h3 {
		font-size: 28px;
		margin: 0;
	}
	.portfolio-wrapper{
		padding: 1.2em 0.6em;
	}	
	.work-section{
		padding: 2em 0;
	}
	span.more {
		font-size: 20px;
		margin: 0.5em 0;
	}												
	.clients-section-head h3 {
		font-size: 28px;
		margin: 0.2em 0;
	}
	.client-section-grid img {
		padding: 2em 0;
	}
	.contact-section-head h3 {
		font-size: 28px;
		margin: 0.5em 0;
	}
	.comments-area label {
		font-size: 22px;
	}	
	.comments-area input[type="text"], .comments-area textarea{
		padding: 6px 15px;
	}	
	.comments-area textarea {
		height: 12em;
	}
	.comments-area input[type="submit"] {
		font-size: 30px;
	}
	.submit {
		margin: 2em 0;
	}
	.banner-wrap {
		padding: 4em 0;
	}
	.wmuSliderPagination{
		bottom: 7px;
	}
	.wmuSliderPagination a {
		width: 15px;
		height: 15px;
	}						
	}
@media screen and (max-width:480px){
	.logo {
		width: 24%;
	}
	.logo img {
		width: 70px;
	}
	.top-menu ul {
		margin-top: 0.5em;
		padding: 1em 0;
	}
	.banner-wrap {
		padding: 2em 0 4em 0;
	}
	.bannertop_box h1 {
		font-size: 1.8em;
	}
	.bannertop_box label {
		font-size: 10px;
	}
	.bannertop_box p {
		font-size: 11px;
		margin: 1em 0;
	}
	.wmuSliderPagination a {
		width: 12px;
		height: 12px;
	}
	.about-section-head h3 {
		font-size: 22px;
		margin: 0.2em 0;
		}
	.about-section-head p {
		font-size: 15px;
	}
	.about-section-head {
		padding: 1.3em 0;
	}
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 1.3em 0;
	}
	.about-section-top-right-grid p {
		font-size: 18px;
	}
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4 {
		font-size: 30px;
		padding: 0 0 0.2em 0;
	}
	.about-section-middle-right-grid p {
		font-size: 14px;
	}
	.about-section-bottom-right-grid p {
		font-size: 20px;
	}
	.work-section-head h3 {
		font-size: 22px;
	}
	.lightbox-target:target img {
		width: 86%;
		border: 7px solid white;
	}
	.wmuSliderPrev, .wmuSliderNext{
		top: 42%;
	}
	span.more {
		font-size: 18px;
		margin: 0.2em 0;
	}	
	.clients-section-head h3 {
		font-size: 22px;
		margin: 0;
	}
	.client-section-grid img {
		padding: 1em 0;
	}	
	.contact-section-head h3 {
		font-size: 22px;
	}
	.comments-area label {
		font-size: 18px;
	}
	.comments-area p {
		margin: 1em 0;
	}
	.comments-area input[type="text"], .comments-area textarea {
		padding: 5px 10px;
		font-size: 13px;
	}
	.comments-area textarea {
		height: 9em;
	}
	.social-icons {
		text-align: center;
		margin: 3em 0 1em 0;
	}
	.submit {
		margin: 1.3em 0;
	}
	.footer {
		padding: 2em 0;
	}
	.social-icons i{
		width: 35px;
		height: 35px;
		background-size: 690%;		 
	}	
	.social-icons i.dribble-icon {
		background-position: -35px 0px;
	}
	.social-icons i.dribble-icon:hover {
		background-position: -35px 0px;
	}	
	.social-icons i.linkein-icon {
		background-position: -69px 0px;
	}
	.social-icons i.linkein-icon:hover {
		background-position: -69px 0px;
	}	
	.social-icons i.vimeo-icon {
		background-position: -104px 0px;}
	.social-icons i.vimeo-icon:hover {
		background-position: -104px 0px;}
	.social-icons i.twitter-icon {
		background-position: -138px 0px;
	}
	.social-icons i.twitter-icon:hover {
		background-position: -138px 0px;
	}	
	.social-icons i.facebook-icon {
		background-position: -173px 0px;}
	.social-icons i.facebook-icon:hover {
		background-position: -173px 0px;}	
	.social-icons i.skype-icon {
		background-position: -207px 0px;
	}
	.social-icons i.skype-icon:hover {
		background-position: -207px 0px;
	}	
	.comments-area input[type="submit"] {
		font-size: 27px;
	}
	.copyright p {
		font-size: 20px;										  
	}
	.top-menu ul {
		width: 94%;
	}
	}
@media screen and (max-width:320px){					   
	.copyright p {
		font-size: 13px;
	}	
	.footer {
		padding: 1.5em 0;
	}	
	.comments-area {
		width: 96%;
	}	
	.comments-area input[type="text"], .comments-area textarea {
		padding: 5px 15px;
	}
	.comments-area input[type="submit"] {
		font-size: 24px;
		padding: 0 0.8em;
	}
	.about-section-head p {
		font-size: 13px;
	}
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4 {
		font-size: 25px;
	}
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 1em 0;
	}
	.about-section-top-right-grid p {
		font-size: 11px;
	}
	.about-section-middle-right-grid p {
		font-size: 9px;
	}
	.about-section-bottom-right-grid {
		padding: 0;
	}
	.about-section-bottom-right-grid p {
		font-size: 13px;
	}
	span.more {
		font-size: 14px;
	}
	.work-section {
		padding: 1.2em 0;
	}
	.portfolio-wrapper {
		padding: 0.8em 0.6em;
	}
	.work-section-head h3 {
		font-size: 20px;
	}
	.social-icons {
		margin: 2em 0 0em 0;
	}
	.bannertop_box {
		display:none;
	}
	.banner_right {
		width: 86%;
		padding: 0 3.5em 0 1em;
		text-align: center;
	}
	.wmuSliderPagination {
		right: 39%;
	}
	.wmuSliderPagination li {
		margin: 0 10px 0 0;
	}
	.wmuSliderPagination a {
		width: 10px;
		height: 10px;
	}
	.top-menu ul {
		padding: 1em 0;
		width: 92%;
	}
	.wmuSliderPrev, .wmuSliderNext {
		top: 39%;
	}
	#portfoliolist .portfolio{
		width:100%;
	}
	
	}
